{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

	<section class="row profil">
		{% for profils in profil %}
				<profil class="col-md-4 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
                <h2>Username : {{ profils.username }}</h2>
				<div class="profil">
				<br>
					<img src="{{ profils.image }}" class="img-fluid">
					<br>
					<div>Email : {{ profils.email }}</div>
					{# <br>
					<div> #}
					{# <div>Vos commentaire : {{ profils.commentaire_id | raw }}</div> #}
					{# </div>
                    <div> #}
					{% for profils in profils.evenements %}
						<div>Vos evenement : {{ profils.evenements | raw }}</div> 
					{% endfor %}
						
					{# </div> #}
					{# <a href="{{ path('panier_add', {'id' : products.id}) }}" class="btn btn-primary mt-2">Ajouter au panier</a> #}
				</div>
			</product>
		{% endfor %}
	</section>
{% endblock %}
